#unnecesary for deploy, are built locally on every machine
node_modules
docs/.vitepress/cache
docs/.vitepress/dist

#were built along with starter template, I only keep them around to have a look at them
docs/api-examples.md
docs/markdown-examples.md

#documentation only useful to the coder as reference while developing
misc